.panel-box {
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
  width: 580px;
  height: auto;
  background: url(../img/right-tool-bg-center.2a9279b0.png) no-repeat center center;
  background-size: 100% 100%;
  user-select: none;
  z-index: 999 !important;
}
.panel-box .panel-header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 32px;
  padding: 0 40px;
  box-sizing: border-box;
  background: url(../img/标题背景.png) no-repeat center center;
  background-size: 100% 100%;
}
.panel-box .panel-header span {
  font-size: 18px;
  font-weight: 400;
  font-family: YouSheBiaoTiHei;
  color: #a4e6ff;
}
.panel-box .panel-body {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.panel-box .panel-body .label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 36px;
  margin-bottom: 20px;
}
.panel-box .panel-body .label .label-text {
  display: flex;
  align-items: center;
  width: 90px;
  height: 100%;
  font-size: 14px;
  color: #fff;
}
.panel-box .panel-body .label .select-box {
  display: flex;
  align-items: center;
  width: calc(100% - 90px);
  height: 100%;
}
.panel-box .panel-body .label .select-box .form-floating {
  width: 100%;
  height: 100%;
}
.panel-box .panel-body .label .select-box .form-floating .form-select {
  width: 100%;
  height: 100%;
  padding: 0 0 0 10px;
  box-sizing: border-box;
  font-size: 14px;
}
.panel-box .panel-body .label .select-box .fields,
.panel-box .panel-body .label .select-box .keyword,
.panel-box .panel-body .label .select-box .symbol {
  margin-right: 10px;
}
.panel-box .panel-body .label .select-box .fields,
.panel-box .panel-body .label .select-box .keyword {
  width: 137px;
}
.panel-box .panel-body .label .select-box .symbol {
  width: 100px;
}
.panel-box .panel-body .btn-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30px;
}
.panel-box .panel-body .btn-content button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 10px;
  box-sizing: border-box;
}
.stats-query {
  left: unset;
  transform: unset;
  right: 1%;
  width: 520px;
}
.space-query {
  left: unset;
  transform: unset;
  right: 1%;
}
.space-query .buffer-box input {
  width: 400px;
}
.space-query .buffer-box span:nth-child(3) {
  font-size: 14px;
  margin: 0 5px;
}
.space-query .checked-box .checked {
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.space-query .checked-box .checked span {
  padding-top: 2px;
  margin-left: 5px;
}
.stats-table {
  top: unset;
  bottom: 1%;
  height: auto;
}
.stats-table .body-table {
  width: 100%;
  font-size: 14px;
  color: #fff;
}
.stats-table .body-table tbody {
  height: 150px;
  overflow-y: auto;
}
.stats-table .body-table tbody tr {
  height: 36px;
}
.stats-table .body-table tbody tr td {
  height: auto;
}
.stats-table .body-table tbody tr td div {
  height: 36px;
}
.empty-tips {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  font-size: 14px;
  color: #fff;
}
